.LeftSize_main {
    /* margin: 1rem; */

    height: 100%;
    border-right: 2px solid #dddddd;
    padding: 40px;
    overflow: auto;
}

.LeftSide_header {
    font-weight: bold;
    margin: 10px;
}

.LeftSide_brandname {}

.brandname {
    display: block;
    width: 100px;
}