.checkout_body {
  background-color: #eaeded;
  height: 100%;
}

.checkout_container {
  background-color: white;
  margin: 25px;
  width: 70vw;
}

.textgap {
  margin: 5px;
}

.placeholder_button {
  width: 180px;
  height: 30px;
  border-radius: 20px;
  margin: 5px;
  border: 0px;
  color: black;
  background-color: #ffd712;
}
