.checkout_body {
  background-color: #eaeded;
  height: 100%;
}

.checkout_container {
  background-color: white;
  margin: 25px;
  width: 70vw;
}

.textgap {
  margin: 5px;
}

.placeholder_button {
  width: 180px;
  height: 30px;
  border-radius: 20px;
  margin: 5px;
  border: 0px;
  color: black;
  background-color: #ffd712;
}

.left-padding {
  margin-top: 30px;
  margin-left: auto;
  margin-right: 10px;
  font-weight: bold;
}

.delButton {
  font-size: 12px;
}

.commandBar {
  display: flex;
  margin-top: 15px;
}

.col {
  background-color: #dddddd;
  width: 1px;
  height: 17px;
  margin-left: 15px;
  margin-right: 15px;
}
