.navbar_component {
  width: 100vw;
  height: 60px;
  background-color: #131a22;
  display: flex;
}

.navbar_logo {
  background: url("https://ik.imagekit.io/amazonclone123/amazon-image/sprite_350x_oMnJ2cZVs.png?ik-sdk-version=javascript-1.4.3&updatedAt=1658420299240")
    no-repeat -9px -50px;
  width: 98px;
  height: 31px;
  margin: 18px;
}

.navbar_locator {
  display: flex;
  margin: 20px 25px;
}

.navbar_locatorImage {
  background: url("https://ik.imagekit.io/amazonclone123/amazon-image/sprite_350x_oMnJ2cZVs.png?ik-sdk-version=javascript-1.4.3&updatedAt=1658420299240")
    no-repeat -70px -305px;
  width: 19px;
  height: 22px;
}

.navbar_location {
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
}

.navbar_searchcomponent {
  display: flex;
}
.navbar_searchbox {
  width: 630px;
  height: 38px;
  margin-top: 8px;
  font-size: 15px;
  padding-left: 10px;
}

.navbar_seachboxdiv {
  background-color: #febe68;
  height: 44px;
  width: 48px;
  border-radius: 0px 5px 5px 0px;
  margin-top: 8px;
}
.navbar_searchicon {
  background: url("https://ik.imagekit.io/amazonclone123/amazon-image/sprite_350x_oMnJ2cZVs.png?ik-sdk-version=javascript-1.4.3&updatedAt=1658420299240")
    no-repeat -9px -289px;
  width: 23px;
  height: 23px;
  margin: 12px;
}

.navbar_dropdown {
  height: 44px;
  width: 60px;
  margin-top: 8px;
  background-color: #e6e5e5;
  border-radius: 5px 0px 0px 5px;
  text-align-last: center;
}

.navbar_signin {
  width: 120px;
  margin-top: 10px;
  margin-left: 50px;
}

.navbar_returns {
  width: 80px;
  margin-top: 10px;
  margin-left: 10px;
}

.navbar_cart {
  margin-top: 10px;
  display: flex;
}

.navbar_text {
  color: white;
}

.cart_image {
  background: url("https://ik.imagekit.io/amazonclone123/amazon-image/sprite_350x_oMnJ2cZVs.png?ik-sdk-version=javascript-1.4.3&updatedAt=1658420299240")
    no-repeat -217px -336px;
  width: 43px;
  height: 30px;
}

.navbar_text_cart {
  margin-top: 10px;
  font-weight: bold;
}

.cart_item {
  font-weight: bold;
  position: relative;
  left: -23px;
  top: -3px;
  color: #f08805;
}

.navbar_footer {
  width: 100vw;
  height: 30px;
  background-color: #22303e;
  color: white;
  display: flex;
}

.navbar_footer_text {
  font-size: 14px;
  margin: 5px 10px;
  font-weight: bold;
}
